#root {
    max-width: 2140px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  .MuiAccordionSummary-content{
    justify-content: center;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  .fieldsbox1{
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
  }


  .textfield{
    width: 30% !important;
    margin: 10px 10px !important;
  }

  .textfieldSmall{
    width: 20% !important;
    margin: 10px 10px !important;
  }

  .textfieldLarge{
    width: 50% !important;
    margin: 10px 10px !important;
  }

  .autocomplete{
    width: auto !important;
  }

  .modal2Columns {
    display: flex;
    flex: 50%;
    flex-direction: column;
    margin: 2%;
  }

  .modalField {
    margin: 0 0 1em 0 !important;
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }

  /* Smartphones (portrait) */
@media only screen and (max-width: 450px) {
  #root{
    max-width: 450px;
    margin: 0;
    width: 100%;
  }

  .inputs{
    width: 90% !important;
  }


}
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }

  .inputs{
    width: 40%;
  }

  .map-container{
    width: 100%;
    height: 60vh;
  }

  .loginPage{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .tripDetails{
    text-align: start;
    margin: 2em 0;
    font-size: smaller;
    display: flex;
    flex-direction: column;
  }

  .scheduleFromTo{
    display: flex;
    align-items: center;
  }

  .bookings-view{
    margin-top: 4em;
  }

  .lineVertical {
    transform: rotate(90deg);
  }

  .payments-box{
    margin: 2em auto;
    width: 50%;
  }

  .invoice-box{
    padding: 1em;
    margin-bottom: 2em;
    display: inline-flex;
    width: 90%;
    justify-content: space-around;
  }

  .payments-fields{
    width: 90%;
    margin: 10px 10px !important;
  }